# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.deps/
*.dirstamp
autom4te.cache
config.log
config.h.in
*.swp
.libs/
.project
*~
src/tagsistant
*stamp-*
src/plugins/Makefile.in
config.guess
config.status
config.sub
language.settings.xml
