*.Po
*.o
*.lo
*/.libs/*
*.la
Makefile.int
aclocal.m4
configure
libtool
*/.dirstamp
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.status
config.log
config.sub
configure.ac.barebone
install-sh
.deps
.dirstamp
.libs
ltmain.sh
stamp-h1
Makefile
depcomp
